*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Open Sans;
}

nav{
	position: sticky;
	top: 0;
	background-color: white;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 5rem;
	padding-right: 10%;
	list-style-type: none;
	border-bottom: 1px solid gray;
	z-index: 2;
}

nav .nav,nav .nav-logo{
	list-style-type: none;
	display: inline;
}

.right-nav{
	float: right;
	padding-top: 0.5%;
}

nav .nav{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.tuitt-button{
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	border-radius: 25px;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	min-height: 40vh;
}

.front-bg{
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0.8;
	min-height: 40vh;
}

.container{
	text-align: right;
}

.title,.title-2{
	font-family: "Zilla SLab";
}
.title{
	font-size: 30px;
	padding-top: 1%;
	padding-right: 10%;
	padding-left: 60%;
	color: white;
}

.subtitle{
	font-size: 15px;
	padding-top: 1%;
	padding-right: 10%;
	padding-left: 55%;
	color: white;
}

.apply-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	margin-top: 1%;
	margin-bottom: 2%;
	margin-right: 10%;
	padding-right: 2rem;
	padding-left: 2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.intro{
	text-align: left;
	padding-top: 5rem;
	padding-bottom: 5rem;
	padding-left: 15rem;
	padding-right: 15rem;
}

.title-2{
	text-align: center;
	padding-bottom: 3rem;
}

.pre-footer{
	text-align: center;
	background-color: #f7fbfb;
	padding-top: 5rem;
	padding-bottom: 5rem;
	padding-left: 10rem;
	padding-right: 10rem;
}

.prefooter-description{
	text-align: center;
	margin-bottom: 0.5rem;
}

.book-button{
	color: white;
	font-weight: bold;
	background-color: #336589;
	position: relative;
	border-radius: 25px;
	font-size: 1rem;
	margin-top: 1%;
	padding-right: 2rem;
	padding-left: 2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

footer{
	text-align: center;
	padding-left: .7rem;
	margin: 1rem;
}

footer span{
	margin-left: .5rem;
	margin-right: .5rem;
}